@{
    ViewBag.Title = "Подтверждение почты";
}
<div class="container">
    <br />
    <h2>@ViewBag.Title.</h2>
    <br />
    <h3>Благодарим за подтверждение электронной почты. @Html.ActionLink("Щелкните здесь для входа", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</h3>
</div>
