
@{
    ViewBag.Title = "Завершение регистрации";
}

<div class="container">
    <br />
    <h2>@ViewBag.Title.</h2>
    <br />
    <h3>На указанный электронный адрес отправлены дальнейшие инструкции по завершению регистрации.</h3>
</div>

