@{
    ViewBag.Title = "Ошибка при входе";
}
<div class="container">
    <br />
    <h1>@ViewBag.Title</h1>
    <br />
    <h3>Не удалось войти через указанную службу.</h3>
    <h3>Приносим свои извинения за предоставленные неудобства!</h3>
</div>
