@{
    ViewBag.Title = "Подтверждение пароля";
}

<div class="container">
    <br />
    <h1>@ViewBag.Title.</h1>
    <br />
    <h3>
        Проверьте электронную почту, чтобы сбросить пароль.
    </h3>
</div>