@{
    ViewBag.Title = "Подтверждение сброса пароля";
}

<div class="container">
    <br />
    <h1>@ViewBag.Title</h1>
    <br />
    <h3>
        Ваш пароль сброшен. @Html.ActionLink("Щелкните здесь для входа", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </h3>
</div>