@{
    ViewBag.Title = "Расписание задач";
    Layout = "/Views/Shared/_LayoutOrganizer.cshtml";
}
@model VisualPlanner.Models.TaskModel
@using VisualPlanner.Models

@if (ViewBag.Error != null)
{
    if (ViewBag.Error)
    {
        <div class="alert alert-danger alert-dismissible fade in" role="alert" name="Error" id="Error">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Произошла ошибка создания задачи.</strong> Повторите создание задачи, введя корректные данные.
        </div>
    }
}
<div class="actions">
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#newTask"><i class="fa fa-plus"></i>&nbsp;&nbsp;Добавить задачу</button>
    &nbsp;&nbsp;
    <button type="button" class="btn btn-danger"><i class="fa fa-close"></i>&nbsp;&nbsp;Удалить задачу</button>
</div>
<div class="container-fluid well tasks-place">
    <h2>Место для графика</h2>
</div>

@Html.Partial("_AddTaskFormPartial")
 
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Script/datetimepicker")
}