@{
    ViewBag.Title = "Проекты";
    Layout = "/Views/Shared/_LayoutOrganizer.cshtml";
}


@if (ViewBag.Error != null)
{
    if (ViewBag.Error)
    {
        <div class="alert alert-danger alert-dismissible fade in" role="alert" name="Error" id="Error">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Произошла ошибка создания проекта.</strong> Повторите создание проекта, введя корректные данные.
        </div>
    }
}

<div class="actions">
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#newProject"><i class="fa fa-plus"></i>&nbsp;&nbsp;Добавить проект</button>
    &nbsp;&nbsp;
    <button type="button" class="btn btn-danger"><i class="fa fa-close"></i>&nbsp;&nbsp;Удалить проект</button>
</div>
<div class="row masonry" data-columns>
    <div class="item">
        <div class="task">
            <div class="row task-header">
                <div class="pull-left task-title col-sm-10">
                    <p><i class="fa fa-2x fa-info-circle tooltip-elem" aria-hidden="true" title="Инфо о выбранной задаче" data-original-title="Инфо о выбранной задаче"></i>&nbsp;Заголовок проекта заголовок заголовок заголовок</p>
                </div>
                <div class="pull-right task-menu">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" id="task-menu"><i class="fa fa-fw fa-ellipsis-v"></i></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="task-menu">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><i class="fa fa-eye"></i> Посмотреть</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><i class="fa fa-edit"></i> Изменить</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><i class="fa fa-trash-o"></i>&nbsp; Удалить</a></li>
                    </ul>
                </div>
            </div>
            <div class="task-content">
                <p><span class="fa fa-hourglass-o"></span>&nbsp; <i>16/03/2016</i> 23:00</p>
                <p><span class="fa fa-hourglass"></span>&nbsp; <i>28/03/2016</i>&nbsp;12:00</p>
                <p><span class="glyphicon glyphicon-fire"></span>&nbsp; Высокий</p>
                <p><span class="fa fa-crosshairs"></span>&nbsp;  Закончена </p>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="task">
            <div class="row task-header">
                <div class="pull-left task-title col-sm-10">
                    <p><i class="fa fa-2x fa-info-circle tooltip-elem" aria-hidden="true" title="Инфо о выбранной задаче" data-original-title="Инфо о выбранной задаче"></i>&nbsp;Заголовок проекта</p>
                </div>
                <div class="pull-right task-menu">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" id="task-menu"><i class="fa fa-fw fa-ellipsis-v"></i></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="task-menu">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><i class="fa fa-eye"></i> Посмотреть</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><i class="fa fa-edit"></i> Изменить</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><i class="fa fa-trash-o"></i>&nbsp; Удалить</a></li>
                    </ul>
                </div>
            </div>
            <div class="task-content">
                <p><span class="fa fa-hourglass-o"></span>&nbsp; <i>16/03/2016</i> 23:00</p>
                <p><span class="fa fa-hourglass"></span>&nbsp; <i>28/03/2016</i>&nbsp;12:00</p>
                <p><span class="glyphicon glyphicon-fire"></span>&nbsp; Высокий</p>
                <p><span class="fa fa-crosshairs"></span>&nbsp;  Закончена </p>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="task">
            <div class="row task-header">
                <div class="pull-left task-title col-sm-10">
                    <p><i class="fa fa-2x fa-info-circle tooltip-elem" aria-hidden="true" title="Инфо о выбранной задаче" data-original-title="Инфо о выбранной задаче"></i>&nbsp;Заголовок проекта</p>
                </div>
                <div class="pull-right task-menu">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" id="task-menu"><i class="fa fa-fw fa-ellipsis-v"></i></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="task-menu">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><i class="fa fa-eye"></i> Посмотреть</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><i class="fa fa-edit"></i> Изменить</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><i class="fa fa-trash-o"></i>&nbsp; Удалить</a></li>
                    </ul>
                </div>
            </div>
            <div class="task-content">
                <p><span class="fa fa-hourglass-o"></span>&nbsp; <i>16/03/2016</i> 23:00</p>
                <p><span class="fa fa-hourglass"></span>&nbsp; <i>28/03/2016</i>&nbsp;12:00</p>
                <p><span class="glyphicon glyphicon-fire"></span>&nbsp; Высокий</p>
                <p><span class="fa fa-crosshairs"></span>&nbsp;  Закончена </p>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="task">
            <div class="row task-header">
                <div class="pull-left task-title col-sm-10">
                    <p><i class="fa fa-2x fa-info-circle tooltip-elem" aria-hidden="true" title="Инфо о выбранной задаче" data-original-title="Инфо о выбранной задаче"></i>&nbsp;Заголовок проекта</p>
                </div>
                <div class="pull-right task-menu">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" id="task-menu"><i class="fa fa-fw fa-ellipsis-v"></i></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="task-menu">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><i class="fa fa-eye"></i> Посмотреть</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><i class="fa fa-edit"></i> Изменить</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><i class="fa fa-trash-o"></i>&nbsp; Удалить</a></li>
                    </ul>
                </div>
            </div>
            <div class="task-content">
                <p><span class="fa fa-hourglass-o"></span>&nbsp; <i>16/03/2016</i> 23:00</p>
                <p><span class="fa fa-hourglass"></span>&nbsp; <i>28/03/2016</i>&nbsp;12:00</p>
                <p><span class="glyphicon glyphicon-fire"></span>&nbsp; Высокий</p>
                <p><span class="fa fa-crosshairs"></span>&nbsp;  Закончена </p>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="task">
            <div class="row task-header">
                <div class="pull-left task-title col-sm-10">
                    <p><i class="fa fa-2x fa-info-circle tooltip-elem" aria-hidden="true" title="Инфо о выбранной задаче" data-original-title="Инфо о выбранной задаче"></i>&nbsp;Заголовок проекта заголовок заголовок заголовок</p>
                </div>
                <div class="pull-right task-menu">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" id="task-menu"><i class="fa fa-fw fa-ellipsis-v"></i></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="task-menu">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><i class="fa fa-eye"></i> Посмотреть</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><i class="fa fa-edit"></i> Изменить</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><i class="fa fa-trash-o"></i>&nbsp; Удалить</a></li>
                    </ul>
                </div>
            </div>
            <div class="task-content">
                <p><span class="fa fa-hourglass-o"></span>&nbsp; <i>16/03/2016</i> 23:00</p>
                <p><span class="fa fa-hourglass"></span>&nbsp; <i>28/03/2016</i>&nbsp;12:00</p>
                <p><span class="glyphicon glyphicon-fire"></span>&nbsp; Высокий</p>
                <p><span class="fa fa-crosshairs"></span>&nbsp;  Закончена </p>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="task">
            <div class="row task-header">
                <div class="pull-left task-title col-sm-10">
                    <p><i class="fa fa-2x fa-info-circle tooltip-elem" aria-hidden="true" title="Инфо о выбранной задаче" data-original-title="Инфо о выбранной задаче"></i>&nbsp;Заголовок проекта заголовок заголовок заголовок</p>
                </div>
                <div class="pull-right task-menu">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" id="task-menu"><i class="fa fa-fw fa-ellipsis-v"></i></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="task-menu">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><i class="fa fa-eye"></i> Посмотреть</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><i class="fa fa-edit"></i> Изменить</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><i class="fa fa-trash-o"></i>&nbsp; Удалить</a></li>
                    </ul>
                </div>
            </div>
            <div class="task-content">
                <p><span class="fa fa-hourglass-o"></span>&nbsp; <i>16/03/2016</i> 23:00</p>
                <p><span class="fa fa-hourglass"></span>&nbsp; <i>28/03/2016</i>&nbsp;12:00</p>
                <p><span class="glyphicon glyphicon-fire"></span>&nbsp; Высокий</p>
                <p><span class="fa fa-crosshairs"></span>&nbsp;  Закончена </p>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_AddProjectFormPartial")

@Scripts.Render("~/bundles/salvattore")
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Script/datetimepicker")

}