@{
    ViewBag.Title = "Error";
}

<div class="container" style="height:93%">
    <br />
    <h1>Ошибка отправки e-mail сообщения.</h1>
    <br />
    <h3>
        При отправке e-mail возникла ошибка. Данная ошибка будет исправлена в ближайшее время. 
    </h3>
    <h3>Приносим свои извинения за предоставленные неудобства!</h3>
</div>

