@if (ViewBag.FixedFooter)
{
    <footer class="navbar-fixed-bottom">
        <div class="container">
            Visual Planner &copy; @DateTime.Now.Year. Все права защищены.
        </div>
    </footer>
}
else
{
    <footer class="navbar-bottom-">
        <div class="container">
            Visual Planner &copy; @DateTime.Now.Year. Все права защищены.
        </div>
    </footer>
}
