<h3 class="style-h3">Задачи</h3>
<ul class="sidebar-nav">
    <li>
        <a href="#"><span class="glyphicon glyphicon glyphicon-fire"></span>&nbsp;&nbsp;Оканчивающиеся&nbsp;<span class="badge">4</span></a>
    </li>
    <li>
        <a href="#"><i class="fa-li fa fa-history"></i>&nbsp;&nbsp;Незаконченные&nbsp;<span class="badge">2</span></a>
    </li>
</ul>
