<h3 class="style-h3">Задачи</h3>
<ul class="sidebar-nav">
    <li>
        <a href="/Organizer/HotTasks"><span class="fa-li fa fa-hourglass-2"></span>&nbsp;&nbsp;Оканчивающиеся&nbsp;<span class="badge">4</span></a>
    </li>
    <li>
        <a href="/Organizer/OldTasks"><i class="fa-li fa fa-hourglass-3"></i>&nbsp;&nbsp;Незаконченные&nbsp;<span class="badge">2</span></a>
    </li>
</ul>
