
@{
    ViewBag.Title = "Ошибка";
}

<div class="container full-page margin-for-footer">
    <br />
    <h1>Ошибка</h1>
    <br />
    <h3>
       @ViewBag.Error
    </h3>
    <h3>Приносим свои извинения за предоставленные неудобства!</h3>
</div>


