@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Заблокировано";
}
<div class="container full-page margin-for-footer">
    <br />
    <h1>Учетная запись временно заблокирована.</h1>
    <br />
    <h3>Попробуйте осуществить вход еще раз позже.</h3>
</div>
