@{
    ViewBag.Title = "Помощь";
}
<div class="container">
    <div class="help-header">
        <h1 style="font-weight: bold;">Страница поддержки пользователей</h1>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="list-group stick-menu">
                <h3 class="no-margin-top">Инструкция</h3>
                <a href="#" class="list-group-item"><i class="fa fa-chevron-right icon-right"></i>1. Как начать работу с приложением</a>
                <a href="#" class="list-group-item"><i class="fa fa-chevron-right icon-right"></i>2. Создание первой задачи</a>
                <a href="#" class="list-group-item"><i class="fa fa-chevron-right icon-right"></i>3. Как создать подзадачу</a>
                <a href="#" class="list-group-item"><i class="fa fa-chevron-right icon-right"></i>4. Что такое проек</a>
                <a href="#" class="list-group-item"><i class="fa fa-chevron-right icon-right"></i>5. Удаление задачи/проекта</a>
                <a href="#" class="list-group-item"><i class="fa fa-chevron-right icon-right"></i>6. Приоритеты</a>
                <a href="#" class="list-group-item"><i class="fa fa-chevron-right icon-right"></i>7. Статусы задач</a>
                <h3>Обратная связь</h3>
                <p style="text-align:justify">Остались вопросы? Наша служба поддержки всегда готова Вам помочь!</p>
                <btn class="btn btn-primary query-style" type="button">Отправить запрос &nbsp;<i class="fa fa-envelope-o" aria-hidden="true"></i></btn>
            </div>
        </div>
        <div class="col-md-9">
            <h3 class="no-margin-top"> Инструкция пользователя</h3>
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading"><h4><b>1. Как начать работу с приложением</b></h4></div>
                    <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis interdum suscipit orci, quis lobortis massa malesuada sit amet. Nam vel lorem aliquet, commodo elit ac, imperdiet urna. Sed sodales faucibus placerat. Ut a elit magna. Aliquam erat volutpat. In in sodales nunc, a tempor mi. Mauris eget justo ac libero maximus consequat. Pellentesque non arcu id nunc faucibus laoreet sed quis sem. Etiam euismod interdum congue. Sed feugiat nulla odio. Donec et dolor gravida, eleifend dui eu, ultrices mi. Integer pretium nisi at massa imperdiet, in faucibus diam vestibulum. Pellentesque faucibus pharetra ex eget molestie. Integer pulvinar ante quis laoreet venenatis. Donec convallis nec arcu non lacinia. Donec aliquam eros arcu, id dapibus neque ornare sed.</div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading"><h4><b>2. Создание первой задачи</b></h4></div>
                    <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis interdum suscipit orci, quis lobortis massa malesuada sit amet. Nam vel lorem aliquet, commodo elit ac, imperdiet urna. Sed sodales faucibus placerat. Ut a elit magna. Aliquam erat volutpat. In in sodales nunc, a tempor mi. Mauris eget justo ac libero maximus consequat. Pellentesque non arcu id nunc faucibus laoreet sed quis sem. Etiam euismod interdum congue. Sed feugiat nulla odio. Donec et dolor gravida, eleifend dui eu, ultrices mi. Integer pretium nisi at massa imperdiet, in faucibus diam vestibulum. Pellentesque faucibus pharetra ex eget molestie. Integer pulvinar ante quis laoreet venenatis. Donec convallis nec arcu non lacinia. Donec aliquam eros arcu, id dapibus neque ornare sed.</div>
               </div>
                <div class="panel panel-default">
                    <div class="panel-heading"><h4><b>3. Как создать подзадачу</b></h4></div>
                    <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis interdum suscipit orci, quis lobortis massa malesuada sit amet. Nam vel lorem aliquet, commodo elit ac, imperdiet urna. Sed sodales faucibus placerat. Ut a elit magna. Aliquam erat volutpat. In in sodales nunc, a tempor mi. Mauris eget justo ac libero maximus consequat. Pellentesque non arcu id nunc faucibus laoreet sed quis sem. Etiam euismod interdum congue. Sed feugiat nulla odio. Donec et dolor gravida, eleifend dui eu, ultrices mi. Integer pretium nisi at massa imperdiet, in faucibus diam vestibulum. Pellentesque faucibus pharetra ex eget molestie. Integer pulvinar ante quis laoreet venenatis. Donec convallis nec arcu non lacinia. Donec aliquam eros arcu, id dapibus neque ornare sed.</div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading"><h4><b>4. Что такое проект</b></h4></div>
                    <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis interdum suscipit orci, quis lobortis massa malesuada sit amet. Nam vel lorem aliquet, commodo elit ac, imperdiet urna. Sed sodales faucibus placerat. Ut a elit magna. Aliquam erat volutpat. In in sodales nunc, a tempor mi. Mauris eget justo ac libero maximus consequat. Pellentesque non arcu id nunc faucibus laoreet sed quis sem. Etiam euismod interdum congue. Sed feugiat nulla odio. Donec et dolor gravida, eleifend dui eu, ultrices mi. Integer pretium nisi at massa imperdiet, in faucibus diam vestibulum. Pellentesque faucibus pharetra ex eget molestie. Integer pulvinar ante quis laoreet venenatis. Donec convallis nec arcu non lacinia. Donec aliquam eros arcu, id dapibus neque ornare sed.</div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading"><h4><b>5. Удаление задачи/проекта</b></h4></div>
                    <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis interdum suscipit orci, quis lobortis massa malesuada sit amet. Nam vel lorem aliquet, commodo elit ac, imperdiet urna. Sed sodales faucibus placerat. Ut a elit magna. Aliquam erat volutpat. In in sodales nunc, a tempor mi. Mauris eget justo ac libero maximus consequat. Pellentesque non arcu id nunc faucibus laoreet sed quis sem. Etiam euismod interdum congue. Sed feugiat nulla odio. Donec et dolor gravida, eleifend dui eu, ultrices mi. Integer pretium nisi at massa imperdiet, in faucibus diam vestibulum. Pellentesque faucibus pharetra ex eget molestie. Integer pulvinar ante quis laoreet venenatis. Donec convallis nec arcu non lacinia. Donec aliquam eros arcu, id dapibus neque ornare sed.</div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading"><h4><b>6. Приоритеты</b></h4></div>
                    <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis interdum suscipit orci, quis lobortis massa malesuada sit amet. Nam vel lorem aliquet, commodo elit ac, imperdiet urna. Sed sodales faucibus placerat. Ut a elit magna. Aliquam erat volutpat. In in sodales nunc, a tempor mi. Mauris eget justo ac libero maximus consequat. Pellentesque non arcu id nunc faucibus laoreet sed quis sem. Etiam euismod interdum congue. Sed feugiat nulla odio. Donec et dolor gravida, eleifend dui eu, ultrices mi. Integer pretium nisi at massa imperdiet, in faucibus diam vestibulum. Pellentesque faucibus pharetra ex eget molestie. Integer pulvinar ante quis laoreet venenatis. Donec convallis nec arcu non lacinia. Donec aliquam eros arcu, id dapibus neque ornare sed.</div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading"><h4><b>7. Статусы задач</b></h4></div>
                    <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis interdum suscipit orci, quis lobortis massa malesuada sit amet. Nam vel lorem aliquet, commodo elit ac, imperdiet urna. Sed sodales faucibus placerat. Ut a elit magna. Aliquam erat volutpat. In in sodales nunc, a tempor mi. Mauris eget justo ac libero maximus consequat. Pellentesque non arcu id nunc faucibus laoreet sed quis sem. Etiam euismod interdum congue. Sed feugiat nulla odio. Donec et dolor gravida, eleifend dui eu, ultrices mi. Integer pretium nisi at massa imperdiet, in faucibus diam vestibulum. Pellentesque faucibus pharetra ex eget molestie. Integer pulvinar ante quis laoreet venenatis. Donec convallis nec arcu non lacinia. Donec aliquam eros arcu, id dapibus neque ornare sed.</div>
                </div>
            </div>
        </div>
    </div>
</div>