@{
    ViewBag.Title = "Visual Planner";
}

<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <h1>Ничем не может человек распорядиться в большей степени, чем временем.</h1>
                <br />
                <p class="lead">Хотели бы Вы планировать свой день, ставить перед собой новые задачи и проекты в удобном для вас виде? Тогда Visual Planner поможет Вам в этом!</p>
                <br />
                <p><a href="#" class="btn btn-success btn-lg">Начните - это просто!</a></p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2><i class="fa fa-building"></i>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>
</div>