@{
    ViewBag.Title = "Visual Planner";
}

<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <h1>Ничем не может человек распорядиться в большей степени, чем временем.</h1>
                <br />
                <p class="lead">Хотели бы Вы планировать свой день, ставить перед собой новые задачи и проекты в удобном для вас виде? Тогда Visual Planner поможет Вам в этом!</p>
                <br />
                <p><a href="#" class="btn btn-success btn-lg">Начните - это просто!</a></p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row func-header">
        <h1>Visual Planner предоставит вам ряд полезных функций</h1>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 row-item">
            <div class="row">
                <div class="col-sm-2">
                    <i class="fa fa-thumbs-o-up fa-4x row-icon" aria-hidden="true"></i>
                </div>
                <div class="col-sm-9 col-sm-offset-1">
                    <h2>Удобство</h2>
                    <p>
                        Планируйте день, используя простой и удобный визуальный органайзер
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 row-item">
            <div class="row">
                <div class="col-sm-2">
                    <i class="fa fa-tasks fa-4x row-icon" aria-hidden="true"></i>
                </div>
                <div class="col-sm-9 col-sm-offset-1">
                    <h2>Проекты</h2>
                    <p>
                        Достигайте большего, объединяя взаимосвязанные задачи в единый проект.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 row-item">
            <div class="row">
                <div class="col-sm-2">
                    <i class="fa fa-sitemap fa-4x row-icon" aria-hidden="true"></i>
                </div>
                <div class="col-sm-9 col-sm-offset-1">
                    <h2>Подзадачи</h2>
                    <p>
                        Упрощайте объемные и сложные задачи, разбивая их на меньшие подзадачи
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 row-item">
            <div class="row">
                <div class="col-sm-2">
                    <i class="fa fa-calendar-check-o fa-4x row-icon" aria-hidden="true"></i>
                </div>
                <div class="col-sm-9 col-sm-offset-1">
                    <h2>Календарь</h2>
                    <p>
                        Вы всегда сможеет увидеть весь объем запланированных задач на неделю, месяц и даже на год
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 row-item">
            <div class="row">
                <div class="col-sm-2">
                    <i class="fa fa-bell fa-4x row-icon" aria-hidden="true"></i>
                </div>
                <div class="col-sm-9 col-sm-offset-1">
                    <h2>Уведомления</h2>
                    <p>
                        Visual Planner всегда напомнит Вам о делах, требующих приоритетного выполнения
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 row-item">
            <div class="row">
                <div class="col-sm-2">
                    <i class="fa fa-search fa-4x row-icon" aria-hidden="true"></i>
                </div>
                <div class="col-sm-9 col-sm-offset-1">
                    <h2>Поиск</h2>
                    <p>
                        Создавайте собственные фильтры, которые позволят быстро найти интересующую Вас задачу или проект.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>