body {
    padding-top: 50px;
    background: #eeeeee;
}

html, body{
    min-height:100%;
    width: 100%;
    height: 100%;
}

.tooltip > .tooltip-inner {
    background-color: rgba(43, 135, 138, 1);
}

.tooltip.right > .tooltip-arrow {
    border-right: 5px solid rgba(43, 135, 138, 1)
}
.tooltip.top > .tooltip-arrow {
    border-top: 5px solid rgba(43, 135, 138, 1)
}

.navbar-toggle{
    border: 2px solid white;
}

.organizer-container{
    padding-left:25px;
    padding-right:40px;
}

.organizer-side-padding{
    padding-left:40px;
    z-index:1001;
}

footer{
    height:30px;
    font-size: 16px;
    background: rgba(43, 135, 138, 1);
    color: white;
    padding-top: 5px;
    margin-top:20px;
}

.organizer-body{
    background: white;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.fa-li{
    position:initial;
}

.style-hr{
    border: 1px solid #94b9bd;
    margin-top:0;
    margin-bottom:0;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-style{
    background: rgba(0, 113, 117, 0.82);
}

.navbar-style a{
    color: white;
    font-size: 16px;
}

.navbar-style a:hover{
    color: #ddd9d9;
}

.navbar-header a{
    font-weight: bold;
    font-family: Gabriola;
    font-size: 36px;
}

.navbar li a:hover, .navbar li a:focus{
    background-color: transparent;
}

.page-header{
    height: 450px;
    margin-top:0;
    background-color: #f5d4bd;
    background: lightgray url("/Content/index_bg.jpg" ) no-repeat top;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.page-header h1{
line-height: 35px;
font-size: 24px;
}
.page-header p {
    margin-top: -10px;
    line-height: 25px;
    font-size: 14px;
}

.icon-bar{
    background: white;
}

.row-item{
    font-size:16px;
    margin-top:10px;
}

.row-icon{
    display: block;
    margin-top: 35px;
    margin-left: 10px;
    color: rgba(0, 113, 117, 1);
}

.index-header{
    font-size:36px;
    text-align:center;
    margin-bottom: 5px;
}

.help-header{
    text-align:left;
    margin: 45px 0;
}

.stick-menu{
    position: fixed;
    width: 250px;
}

.icon-right{
    float:right;
}

.query-style{
    margin: 10px 0;
}

.no-margin-top{
    margin-top:0;
    line-height:35px;
}

.affix{
    top: 80px;
    width: 262px;
}

.help-item::before{	
	display: block;
	content: "";
	height: 80px;
	margin: -80px 0 0
}

.modal-header{
    background: rgba(0, 113, 117, 0.82);
    color: white;
}

.modal-dialog{
    margin-top: 100px;
}

.modal-footer{
    margin-top: 0;
}

input, textarea{
    max-width: none;
}

.full-page{
    height: 100%;
}

.form-group, .form-group input, .form-group a, .form-group button{
    font-size:16px;
}

.validation-summary-errors ul>li{
    font-size: 16px;
    font-weight: bold;
    list-style-type: none;
    padding: 5px 0 5px 0;
}

.validation-summary-errors ul{
    padding-left: 0;
    margin-bottom: -20px;
}

.style-dt{
    padding:0 0 10px 0;
    font-size: 16px;
}

.style-dd{
    padding:0;
    float:none;
    font-size: 16px;
}

.tasks{
    border:3px solid #106262;
    border-radius: 15px;
    margin:15px 10px 30px 10px;
}
.tasks ul{
    padding:10px 10px 0 10px;
    text-align:center;
}
.tasks li{
    list-style:none;
}

.tasks li a{
    color: #106262;
    text-decoration:underline;
    font-size: 15px;
    text-align:center;
}
.tasks li:last-child a{
    display:block;
    text-decoration:none;
    margin-top:10px;
}

.badge{
    display:initial;
    background-color: #106262;
}
.page-title{
    display:inline-block; 
    margin-top:5px; 
    margin-bottom:20px;
    font-weight: bold;
}

.tasks-place{
    margin-top:15px;
    height:560px;
}

.task{
    color: #106262;
    border: 3px solid #106262;
    border-radius: 7px;
    margin-top: 20px;
    position: relative;
}
.task-header{
    background: #eeeeee;
    border-bottom: 3px solid #106262;
    padding: 10px 0 0 0;
    border-radius: 5px 6px 0 0;
    margin-left:0;
    margin-right:0;
}

.task-header a{
    display:inline-block;
    color: #106262;
    font-size: 28px;
    margin-top:-5px;
}

.task-title{
    font-size:20px;
    padding-right: 0;
    padding-left: 10px;
}

.task-title i{
    font-size: 26px;
    cursor:help;
    padding-left:0;
}

.task-menu ul{
    top: 50px;
  
}

.task-menu li a{
    font-size: 16px;
    color: #106262;
    margin-top:0;
    padding-left: 15px;
}

.task-content{
    padding: 10px 10px 0 10px;
    font-size: 16px;
}

.task-content span{
    font-size: 20px;
}

@media screen and (max-width: 767px){
    .masonry[data-columns]:before{
        content: '1 .col-xs-12 .col-sm-6 .col-md-6 .col-lg-4';
    }
}

@media (min-width: 768px) {
    .masonry[data-columns]:before{
        content: '2 .col-xs-12 .col-sm-6 .col-md-6 .col-lg-4';
    }

    .page-header {height:500px;
                  padding-top:10px;
    }
    .page-header h1{
    line-height: 45px;
    font-size: 31px;
    }
    .page-header p{
    line-height: 30px;
    font-size: 18px;
    }
    .affix{
        width:220px;
    }
}

@media (min-width: 992px){
    .masonry[data-columns]:before{
        content: '2 .col-xs-12 .col-sm-6 .col-md-6 .col-lg-4';
    }

    .page-header {height:675px;
                  padding-top:60px;
    }
    .page-header h1{
    line-height: 65px;
    font-size: 36px;
    }
    .page-header p{
    line-height: 40px;
    font-size: 20px;
    }

    .affix{
        width:292px;
    }
}

@media (min-width: 1200px){
    .masonry[data-columns]:before{
        content: '3 .col-xs-12 .col-sm-6 .col-md-6 .col-lg-4';
    }

    .page-header {height:750px;}
    .page-header h1{
    line-height: 65px;
    font-size: 48px;
    }

    .page-header p{
        margin-top:15px;
        line-height: 40px;
        font-size: 24px;
    }
    .affix{
        width: 262px;
    }
}