
@{
    ViewBag.Title = "Смена e-mail";
}

<div class="container">
    <br />
    <h2>@ViewBag.Title.</h2>
    <br />
    <h3>На указанный электронный адрес отправлены дальнейшие инструкции по изменению адреса электронной почты.</h3>
</div>

